<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConeccionDB.Properties.Settings.pantalla_maestra2ConnectionString"
            connectionString="Data Source=DESKTOP-JKNEKG5\SQLEXPRESS;Initial Catalog=&quot;pantalla maestra2&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>